        <!-- Sección de Presentación -->
        <header id="presentacion" class="d-flex align-items-center justify-content-center">
            <div class="text-center text-white">
                <h1 class="display-3">Nombre de la Película</h1>
                <a href="https://www.youtube.com/watch?v=trailer" target="_blank" class="btn btn-primary mt-3">Ver Tráiler</a>
            </div>
        </header>