<!-- Hero Section -->
<section class="hero bg-light text-center text-white" >
    <div class="container py-5 text-start"> <!-- Cambiado text-center a text-start -->
        <h1 class="display-4">Five Night At Freddy's: La Película</h1>
        <p class="lead">2023 ‧ Terror/Misterio ‧ 1h 50m</p>
    </div>
</section>